<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>أبجدي</key>
	<dict>
		<key>احرف</key>
		<array>
			<string>أ</string>
			<string>ب</string>
			<string>ت</string>
			<string>ث</string>
			<string>ج</string>
			<string>ح</string>
			<string>خ</string>
			<string>د</string>
			<string>ذ</string>
			<string>ر</string>
			<string>ز</string>
			<string>س</string>
			<string>ش</string>
			<string>ص</string>
			<string>ض</string>
			<string>ط</string>
			<string>ظ</string>
			<string>ع</string>
			<string>غ</string>
			<string>ف</string>
			<string>ق</string>
			<string>ك</string>
			<string>ل</string>
			<string>م</string>
			<string>ن</string>
			<string>ه</string>
			<string>و</string>
			<string>ي</string>
		</array>
		<key>ارقام</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
			<string>10</string>
			<string>11</string>
			<string>12</string>
			<string>13</string>
			<string>14</string>
			<string>15</string>
			<string>16</string>
			<string>17</string>
			<string>18</string>
			<string>19</string>
			<string>20</string>
			<string>21</string>
			<string>22</string>
			<string>23</string>
			<string>24</string>
			<string>25</string>
			<string>26</string>
		</array>
	</dict>
	<key>التصنيف</key>
	<dict>
		<key>حيوانات</key>
		<array>
			<array>
				<string>lion</string>
				<string>أسد</string>
				<string>الأسد هو ملك الغابة و كذا</string>
			</array>
			<array>
				<string>rabbit</string>
				<string>أرنب</string>
				<string>الارنب حيوان أليف و كرمووووش</string>
			</array>
			<array>
				<string>tiger</string>
				<string>نمر</string>
				<string>النمر حيوان</string>
			</array>
			<array>
				<string>camel</string>
				<string>جمل</string>
				<string>الجمل سفينة الصحراء</string>
			</array>
			<array>
				<string>horse</string>
				<string>حصان</string>
				<string>الدعسوقة حيوان مسكين</string>
			</array>
			<array>
				<string>ladybug</string>
				<string>دعسوقة</string>
				<string>الدعسوقة تسمى ام علي بالكويتي</string>
			</array>
			<array>
				<string>butterfly</string>
				<string>فراشة</string>
				<string>الفراشة حشرة ملونة جميلة تجوب بين الحدائق و الزهور</string>
			</array>
		</array>
		<key>نباتات</key>
		<array>
			<array>
				<string>flower</string>
				<string>زهرة</string>
				<string>الزهرة هي نبات جميل</string>
			</array>
			<array>
				<string>tree</string>
				<string>شجرة</string>
				<string>الشجرة نبات طويل و يأكل الزراف منه</string>
			</array>
		</array>
		<key>ادوات</key>
		<array>
			<array>
				<string>hammer</string>
				<string>مطرقة</string>
			</array>
			<array>
				<string>knife</string>
				<string>سكينة</string>
			</array>
			<array>
				<string>telephone</string>
				<string>هاتف</string>
			</array>
		</array>
		<key>اعضاء الجسم</key>
		<array>
			<array>
				<string>boy</string>
				<string>ولد</string>
			</array>
			<array>
				<string>chest</string>
				<string>صدر</string>
			</array>
			<array>
				<string>eye</string>
				<string>عين</string>
			</array>
			<array>
				<string>feet</string>
				<string>رجل</string>
			</array>
			<array>
				<string>girl</string>
				<string>بنت</string>
			</array>
			<array>
				<string>hand</string>
				<string>يد</string>
			</array>
			<array>
				<string>hair</string>
				<string>شعر</string>
			</array>
			<array>
				<string>mouth</string>
				<string>فم</string>
			</array>
			<array>
				<string>nail</string>
				<string>ظفر</string>
			</array>
			<array>
				<string>neck</string>
				<string>رقبة</string>
			</array>
			<array>
				<string>nose</string>
				<string>أنف</string>
			</array>
			<array>
				<string>short</string>
				<string>قصير</string>
			</array>
			<array>
				<string>tall</string>
				<string>طويل</string>
			</array>
		</array>
		<key>آعضاء العائلة</key>
		<array>
			<array>
				<string>Brother</string>
				<string>أخ</string>
			</array>
			<array>
				<string>Family</string>
				<string>عائلة</string>
			</array>
			<array>
				<string>Father</string>
				<string>أب</string>
			</array>
			<array>
				<string>Grandfather</string>
				<string>جد</string>
			</array>
			<array>
				<string>Grandmother</string>
				<string>جدة</string>
			</array>
			<array>
				<string>Mother</string>
				<string>أم</string>
			</array>
			<array>
				<string>Relatives</string>
				<string>أقارب</string>
			</array>
			<array>
				<string>Sister</string>
				<string>أخت</string>
			</array>
		</array>
		<key>الطعام</key>
		<array>
			<array>
				<string>CannedDrink</string>
				<string>شراب معلب</string>
			</array>
			<array>
				<string>CannedFood</string>
				<string>أكل معلب</string>
			</array>
			<array>
				<string>Egg</string>
				<string>بيض</string>
			</array>
			<array>
				<string>Juice</string>
				<string>عصير</string>
			</array>
		</array>
		<key>الوظائف</key>
		<array>
			<array>
				<string>Carpenter</string>
				<string>نجار</string>
			</array>
			<array>
				<string>Chaser</string>
				<string>محاسب</string>
			</array>
			<array>
				<string>FireFighter</string>
				<string>رجل إطفاء</string>
			</array>
			<array>
				<string>KG</string>
				<string>حضانة</string>
			</array>
			<array>
				<string>Painter</string>
				<string>صباغ</string>
			</array>
			<array>
				<string>Pharmacy</string>
				<string>صيدلي</string>
			</array>
			<array>
				<string>Policeman</string>
				<string>شرطي</string>
			</array>
			<array>
				<string>Tailor</string>
				<string>خياط</string>
			</array>
			<array>
				<string>Worker</string>
				<string>عامل</string>
			</array>
		</array>
		<key>أماكن</key>
		<array>
			<array>
				<string>Airport</string>
				<string>مطار</string>
			</array>
			<array>
				<string>Barn</string>
				<string>محاسب</string>
			</array>
			<array>
				<string>Bathroom</string>
				<string>حمام</string>
			</array>
			<array>
				<string>EntertainmentCity</string>
				<string>مدينة ملاهي</string>
			</array>
			<array>
				<string>KG</string>
				<string>حضانة</string>
			</array>
			<array>
				<string>KuwaitTowers</string>
				<string>أبراج الكويت</string>
			</array>
			<array>
				<string>OilWell</string>
				<string>آبار نفط</string>
			</array>
			<array>
				<string>Pharmacy</string>
				<string>صيدلية</string>
			</array>
			<array>
				<string>Resturant</string>
				<string>مطعم</string>
			</array>
			<array>
				<string>ScientificCenter</string>
				<string>المركز العلمي</string>
			</array>
			<array>
				<string>Sea</string>
				<string>بحر</string>
			</array>
		</array>
		<key>المدرسة</key>
		<array>
			<array>
				<string>Blackborad</string>
				<string>لوحة</string>
			</array>
			<array>
				<string>Book</string>
				<string>كتاب</string>
			</array>
			<array>
				<string>pen</string>
				<string>قلم</string>
			</array>
			<array>
				<string>SchoolPrincipl</string>
				<string>مدير المدرسة</string>
			</array>
			<array>
				<string>Table</string>
				<string>طاولة</string>
			</array>
			<array>
				<string>Teacher</string>
				<string>معلم</string>
			</array>
			<array>
				<string>Classroom</string>
				<string>صف</string>
			</array>
		</array>
		<key>بحر</key>
		<array>
			<array>
				<string>Ball</string>
				<string>كرة</string>
			</array>
			<array>
				<string>Door</string>
				<string>باب</string>
			</array>
			<array>
				<string>Garden</string>
				<string>حديقة</string>
			</array>
			<array>
				<string>Toys</string>
				<string>ألعاب</string>
			</array>
			<array>
				<string>Sea</string>
				<string>بحر</string>
			</array>
		</array>
		<key>الفصول</key>
		<array>
			<array>
				<string>Day</string>
				<string>يوم</string>
			</array>
			<array>
				<string>Fall</string>
				<string>خريف</string>
			</array>
			<array>
				<string>FourSeasons</string>
				<string>الفصول الاربع</string>
			</array>
			<array>
				<string>Moon</string>
				<string>قمر</string>
			</array>
			<array>
				<string>Night</string>
				<string>ليل</string>
			</array>
			<array>
				<string>Spring</string>
				<string>ربيع</string>
			</array>
			<array>
				<string>Summer</string>
				<string>صيف</string>
			</array>
			<array>
				<string>Sun</string>
				<string>شمس</string>
			</array>
			<array>
				<string>Winter</string>
				<string>شتاء</string>
			</array>
		</array>
		<key>أفعال</key>
		<array>
			<array>
				<string>Draw</string>
				<string>يرسم</string>
			</array>
			<array>
				<string>Eat</string>
				<string>يأكل</string>
			</array>
			<array>
				<string>Exercise</string>
				<string>يتمرن</string>
			</array>
			<array>
				<string>Happy</string>
				<string>سعيد</string>
			</array>
			<array>
				<string>Hungry</string>
				<string>جوعان</string>
			</array>
			<array>
				<string>PayMoney</string>
				<string>يدفع</string>
			</array>
			<array>
				<string>Sad</string>
				<string>حزين</string>
			</array>
			<array>
				<string>Search</string>
				<string>يبحث</string>
			</array>
			<array>
				<string>Smell</string>
				<string>يشم</string>
			</array>
			<array>
				<string>TakeaShower</string>
				<string>يتحمم</string>
			</array>
			<array>
				<string>Thirsty</string>
				<string>عطشان</string>
			</array>
			<array>
				<string>WashHand</string>
				<string>غسل اليدين</string>
			</array>
		</array>
	</dict>
</dict>
</plist>
